<div>
    <div class='mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40'>
        <h2
            class='text-5xl font-light leading-10 tracking-tight text-gray-900 mb-10'
        >
            F.A.Q
        </h2>
        <p>
            Voici une série de questions/réponses, qui je l’espère vous
            permettra de mieux comprendre les principe de l’hypnose. Je prends
            la liberté de réutiliser vos questions que je trouve importantes.
            n’oubliez pas qu’aucune question est stupide.
        </p>
        <dl
            class='mt-10 space-y-8 divide-y divide-gray-900/10 bg-white rounded-lg shadow-lg p-10'
        >
            <div class='pt-8 lg:grid lg:grid-cols-12 lg:gap-8'>
                <dt
                    class='text-base font-semibold leading-7 text-gray-900 lg:col-span-5'
                >
                    Que se passe-t-il en vous pendant la séance d’Hypnose ?
                </dt>
                <dd class='mt-4 lg:col-span-7 lg:mt-0'>
                    <p class='text-base leading-7 text-gray-600'>
                        L’Hypnose augmente votre capacité à répondre à des
                        suggestions et c’est justement là que se situe son
                        intérêt thérapeutique. Les consultants deviennent ainsi
                        plus aptes à exécuter des instructions. « Mais il faut
                        avant tout qu’ils acceptent de coopérer. On ne peut
                        demander à un consultant de faire quelque chose qui
                        serait contre ses règles de morale ou contre sa propre
                        volonté »… Le consultant sous Hypnose; se trouve dans un
                        état d’intense relaxation physique et de concentration
                        mentale ce qui lui permet de dépasser la partie de son
                        esprit qui est régie par la logique (il lâche prise et
                        met son esprit d’analyse de côté), ce qui va l’habiliter
                        à explorer ses ressources intérieures : capacités
                        physiques aussi bien que mentales, et à voir les choses
                        différemment que par la pensée consciente normale.
                        L’Hypnose est un moyen de se connecter à son
                        subconscient. C’est un état de conscience modifié, mis
                        en place par le thérapeute et le consultant lui-même.
                        C’est un état naturel, un état d’absorption que chacun
                        expérimente plusieurs fois par jour (par exemple : à
                        chaque fois que l’on regarde un film, à la lecture d’un
                        livre ou absorbé par une tâche). La Transe Hypnotique
                        est avant tout un état agréable où la concentration est
                        axée vers l’intérieur de soi. C’est un mécanisme simple
                        qui met l’esprit conscient en « veilleuse » et
                        privilégie le fonctionnement du subconscient. Le
                        consultant limite, à son gré, son état d’attention et
                        produit la transe volontairement à la demande du
                        thérapeute.
                    </p>
                </dd>
            </div>

            <div class='pt-8 lg:grid lg:grid-cols-12 lg:gap-8'>
                <dt
                    class='text-base font-semibold leading-7 text-gray-900 lg:col-span-5'
                >
                    Se souvient-on de ce qu’on a dit ou fait lors d’une séance
                    d’hypnose ?
                </dt>
                <dd class='mt-4 lg:col-span-7 lg:mt-0'>
                    <p class='text-base leading-7 text-gray-600'>
                        En règle générale, sous état d’hypnose le consultant ne
                        parle pas. Le consultant se souvient plus ou moins
                        (selon la profondeur de la transe) de ce que le
                        praticien a dit.
                    </p>
                </dd>
            </div>

            <div class='pt-8 lg:grid lg:grid-cols-12 lg:gap-8'>
                <dt
                    class='text-base font-semibold leading-7 text-gray-900 lg:col-span-5'
                >
                    L’hypnothérapeute peut-il avoir un pouvoir sur nos actes et
                    nos pensées ?
                </dt>
                <dd class='mt-4 lg:col-span-7 lg:mt-0'>
                    <p class='text-base leading-7 text-gray-600'>
                        Non, c’est un travail d’équipe. L’hypnothérapeute est
                        juste là pour vous guider.
                    </p>
                </dd>
            </div>

            <div class='pt-8 lg:grid lg:grid-cols-12 lg:gap-8'>
                <dt
                    class='text-base font-semibold leading-7 text-gray-900 lg:col-span-5'
                >
                    Peut-on être hypnotisé.e contre sa volonté ?
                </dt>
                <dd class='mt-4 lg:col-span-7 lg:mt-0'>
                    <p class='text-base leading-7 text-gray-600'>
                        Non c’est impossible. Le consultant est toujours présent
                        et amplifie le contrôle sur lui-même lors d’une séance.
                    </p>
                </dd>
            </div>

            <div class='pt-8 lg:grid lg:grid-cols-12 lg:gap-8'>
                <dt
                    class='text-base font-semibold leading-7 text-gray-900 lg:col-span-5'
                >
                    Peut-on rester bloqué.e en hypnose ?
                </dt>
                <dd class='mt-4 lg:col-span-7 lg:mt-0'>
                    <p class='text-base leading-7 text-gray-600'>
                        Non. Vous pouvez ressentir une fatigue due à la
                        relaxation.
                    </p>
                </dd>
            </div>
        </dl>
    </div>
</div>
