<div>
    <div class='mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8'>
        <div class='mx-auto max-w-2xl text-center'>
            <h2
                class='text-5xl font-light leading-10 tracking-tight text-gray-900 mb-10'
            >
                Foire aux questions
            </h2>
            <p class='mt-6 text-base leading-7 text-gray-600'>
                Voici une série de questions/réponses, qui je l’espère vous
                permettra de mieux comprendre les principe de l’hypnose. Je
                prends la liberté de réutiliser vos questions que je trouve
                importantes. n’oubliez pas qu’aucune question est stupide.
            </p>
        </div>
        <div class='mt-20'>
            <dl
                class='space-y-16 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-16 sm:space-y-0 lg:grid-cols-3 lg:gap-x-10'
            >
                <div class='lg:col-span-3 bg-white rounded-lg shadow-lg p-10'>
                    <dt class='text-base font-semibold leading-7 text-gray-900'>
                        Que se passe-t-il en vous pendant la séance d’Hypnose ?
                    </dt>
                    <dd class='mt-2 text-base leading-7 text-gray-600'>
                        L'hypnose renforce la réceptivité à des suggestions,
                        contribuant à son intérêt thérapeutique. Les consultants
                        deviennent plus aptes à suivre des instructions, pourvu
                        qu'ils soient d'accord. L'état d'hypnose, combinant
                        relaxation profonde et concentration intense, permet de
                        mettre de côté la logique, favorisant l'exploration des
                        ressources intérieures et une perception différente.
                        C'est un moyen de se connecter au subconscient, une
                        expérience naturelle de conscience modifiée, comme
                        lorsqu'on regarde un film ou lit un livre. La transe
                        hypnotique est un état interne concentré et agréable, où
                        le conscient est mis en veille au profit du
                        subconscient. Le consultant contrôle cet état et peut
                        l'induire à la demande du thérapeute.
                    </dd>
                </div>

                <div class='bg-white rounded-lg shadow-lg p-10'>
                    <dt class='text-base font-semibold leading-7 text-gray-900'>
                        Se souvient-on de ce qu’on a dit ou fait lors d’une
                        séance d’hypnose ?
                    </dt>
                    <dd class='mt-2 text-base leading-7 text-gray-600'>
                        En règle générale, sous état d’hypnose le consultant ne
                        parle pas. Le consultant se souvient plus ou moins
                        (selon la profondeur de la transe) de ce que le
                        praticien a dit.
                    </dd>
                </div>

                <div class='bg-white rounded-lg shadow-lg p-10'>
                    <dt class='text-base font-semibold leading-7 text-gray-900'>
                        L’hypnothérapeute peut-il avoir un pouvoir sur nos actes
                        et nos pensées ?
                    </dt>
                    <dd class='mt-2 text-base leading-7 text-gray-600'>
                        Non, c’est un travail d’équipe. L’hypnothérapeute est
                        juste là pour vous guider.
                    </dd>
                </div>

                <div class='bg-white rounded-lg shadow-lg p-10'>
                    <dt class='text-base font-semibold leading-7 text-gray-900'>
                        Peut-on être hypnotisé.e contre sa volonté ?
                    </dt>
                    <dd class='mt-2 text-base leading-7 text-gray-600'>
                        Non c’est impossible. Le consultant est toujours présent
                        et amplifie le contrôle sur lui-même lors d’une séance.
                    </dd>
                </div>

                <div class='bg-white rounded-lg shadow-lg p-10'>
                    <dt class='text-base font-semibold leading-7 text-gray-900'>
                        Peut-on rester bloqué.e en hypnose ?
                    </dt>
                    <dd class='mt-2 text-base leading-7 text-gray-600'>
                        Non, mais vous pouvez ressentir une fatigue due à la
                        relaxation.
                    </dd>
                </div>

                <div class='bg-white rounded-lg shadow-lg p-10'>
                    <dt class='text-base font-semibold leading-7 text-gray-900'>
                        Quelle est la différence entre l'hypnose de spectacle et
                        l'hypnothérapie ?
                    </dt>
                    <dd class='mt-2 text-base leading-7 text-gray-600'>
                        L'hypnose de spectacle est utilisée à des fins de
                        divertissement, où le sujet est souvent amené à faire
                        des choses amusantes ou inhabituelles. En revanche,
                        l'hypnothérapie est une approche sérieuse utilisée en
                        thérapie pour aider les gens à surmonter divers
                        problèmes, comme les phobies, l'anxiété, le stress, les
                        problèmes de poids, le sevrage tabagique et bien plus
                        encore. L'hypnothérapie est un outil thérapeutique qui
                        vise le bien-être du patient.
                    </dd>
                </div>

                <div class='bg-white rounded-lg shadow-lg p-10'>
                    <dt class='text-base font-semibold leading-7 text-gray-900'>
                        Combien de séances d'hypnothérapie sont généralement
                        nécessaires pour voir des résultats ?
                    </dt>
                    <dd class='mt-2 text-base leading-7 text-gray-600'>
                        Le nombre de séances nécessaires varie d'une personne à
                        l'autre et dépend du problème à traiter. Certaines
                        personnes peuvent remarquer des améliorations après une
                        seule séance, tandis que d'autres peuvent nécessiter
                        plusieurs séances sur une période plus longue.
                        L'hypnothérapeute discutera de cela avec vous lors de
                        votre première consultation.
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>
