<main class='flex flex-col items-center mt-20'>
    <h1 class='text-5xl font-thin mb-10'>À propos de moi</h1>
    <p class='w-1/3'>
        Une séance d’hypnose Ericksonnienne est un moment qui est avant tout
        partagé entre deux personnes : le consultant et l’hypnothérapeute.
        <br />
        <br />
        Il peut donc être rassurant d’en savoir un peu plus sur moi, avant de vous
        lancer.
    </p>
</main>
