<article>
    <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 1440 320'
        class='mx-auto mt-20 w-full'
    >
        <path
            fill='#62BAF3'
            fill-opacity='1'
            d='M0,192L40,170.7C80,149,160,107,240,122.7C320,139,400,213,480,213.3C560,213,640,139,720,138.7C800,139,880,213,960,218.7C1040,224,1120,160,1200,144C1280,128,1360,160,1400,176L1440,192L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z'
        ></path>
    </svg>
    <div class='flex justify-center bg-[#62BAF3] pb-24'>
        <div class='flex flex-row justify-around items-start w-full'>
            <div class='w-1/2 text-center px-6'>
                <h4 class='text-5xl font-light mb-10'>Mon approche</h4>
                <p class='text-justify w-3/4 mx-auto'>
                    Depuis toujours, j’aime apporter mon aide à autrui, c’est
                    pourquoi je me suis dirigée vers le secteur médico-social.
                    En parallèle de mon travail, j’ai toujours été intéressée
                    par l’hypnothérapie. C’est donc assez naturellement qu’en
                    2019, j’ai décidé de m’y former. D’abord via des
                    enseignements en ligne, puis en me dirigeant vers une école
                    d’hypnose Ericksonnienne à Paris. J’y ai suivi plusieurs
                    formations (d’abord celle de technicien en hypnose
                    thérapeutique, puis celle de praticien et enfin, des modules
                    de spécialisation), je suis désormais diplômée de cette
                    école. J’ai pour ambition de mettre mes connaissances à
                    votre service, de vous accompagner à vous libérer de vos
                    contraintes et à vous sentir mieux. En travaillant ensemble
                    vous pourrez devenir une meilleure version de vous-même. Si
                    vous voulez me contacter, n’hésitez pas à vous rendre ici ou
                    à me rejoindre sur mes réseaux sociaux. Une séance
                    d’hypnothérapie est avant tout un échange entre le
                    consultant et le thérapeute. Un entretien préalable sera
                    toujours effectué avant la séance d’hypnose, cela nous
                    permettra d’établir un lien de confiance et de déterminer
                    les objectifs à atteindre.
                    <br />
                    Un praticien se doit d’avoir des valeurs, les miennes sont :
                </p>
                <ul>
                    <li>assurer le bien être du consultant</li>
                    <li>créer un lien de confiance</li>
                    <li>être à l’écoute</li>
                    <li>rester humble</li>
                    <li>être tolérante</li>
                    <li>être neutre</li>
                    <li>être bienveillante</li>
                    <li>veiller à l’accompagnement des objectifs</li>
                    <li>respect du secret professionnel</li>
                </ul>
            </div>

            <div class='w-1/2 text-center px-6'>
                <h4 class='text-5xl font-light mb-10'>
                    Les bienfaits de l'hypnothérapie
                </h4>
                <p class='text-justify w-3/4 mx-auto'>
                    Définition de l’hypnose Ericksonienne L’hypnose
                    thérapeutique est une discipline qui permet d’accéder au
                    réservoir de ressources inconscientes de chaque individu.
                    Ainsi, grâce aux nombreux outils à disposition du praticien,
                    ce dernier devient un accompagnateur dans le processus du
                    changement et de l’apprentissage souhaité par la personne
                    qui le consulte. Vous découvrirez dans cette fiche ce qu’est
                    l’hypnose Ericksonienne, quand cette pratique a été créée,
                    dans quels cas elle est indiquée, quels sont ses bienfaits,
                    comment se déroule une séance type et qui la pratique.
                    L’hypnose Ericksonienne est l’une des branches les plus
                    influentes et répandues de l’hypnose thérapeutique. Elle est
                    particulièrement respectueuse de la personne car le langage
                    utilisé par le praticien est permissif. Le praticien est à
                    l’écoute, il adapte son style d’élocution et d’approche à la
                    personne qu’il reçoit. Il s’appuie sur des métaphores, des
                    anecdotes et des suggestions indirectes afin de faire lever
                    des résistances au changement et laisser la personne accéder
                    à ses propres ressources pour mettre en place les
                    changements souhaités. Les principes de l’hypnose
                    Ericksonienne L’hypnose Ericksonienne est une forme de
                    thérapie qui intervient comme un outil au sein même d’une
                    psychothérapie. Développée par Milton Erickson, psychiatre
                    et psychologue américain, en 1980, son but est de faciliter
                    cette dernière en permettant au conscient et à l’inconscient
                    d’être stimulé grâce à l’hypnose, de coopérer afin de
                    trouver les solutions qui pourront résoudre ce qui pose
                    problème. Cet outil thérapeutique est basé sur le postulat
                    que l’individu possède en lui les ressources nécessaires
                    pour faire face à toutes les situations. Ainsi, cette
                    méthode sollicite la participation active du consultant.
                    Comment se déroulent les séances d’hypnose Ericksonienne ?
                    Le thérapeute induit chez son patient un état hypnotique qui
                    lui permet d’accéder à son inconscient. Si la relaxation est
                    souvent à l’origine de cet état, d’autres manières de faire,
                    sont possible comme la mise en avant de la parole ou du
                    langage symbolique, (métaphores) par exemple. Le thérapeute,
                    qui induit la modification de la conscience, se positionne
                    également comme un guide. En effet, il invite son consultant
                    à orienter son attention sur un souvenir positif et à
                    s’exprimer à ce sujet. Son rôle est ensuite de soutenir son
                    imaginaire, par le biais de la conversation, pour l’aider à
                    trouver lui-même les ressources qu’il possède et qui
                    pourront l’aider à résoudre ses problèmes. L’hypnose
                    Ericksonienne en pratique Une séance dure environ 1 heure ;
                    Etant une thérapie brève, l’hypnose Ericksonienne se
                    pratique en général sur 5 à 10 séances. L’hypnose n’a pas
                    pour but de soigner une pathologie mais plutôt d’accompagner
                    une personne dans sa démarche. Elle reste une aide
                    complémentaire mais ne remplace en aucun cas un suivi
                    médical approprié en cas de problème de santé, physique ou
                    mental. Le consultant, soutenu par les paroles persuasives
                    et évocatrices du praticien, plonge dans son inconscient
                    pour y puiser de nouvelles ressources, choisir les solutions
                    au problème qu’il veut résoudre et effectuer une
                    transformation intérieure positive. Les séances s’effectuent
                    principalement en individuel.
                </p>
            </div>
        </div>
    </div>
</article>
<!-- bg-[#62BAF3] -->
