---
import Layout from '@layouts/Layout.astro';
---

<Layout title='FanHypnose - Offrir une séance'>
  <div class='flex flex-col items-center content-center my-20'>
    <h1 class='text-5xl font-thin mb-10'>Offrir une carte cadeau</h1>
    <p class='w-1/3'>
      Si vous souhaitez offrir une séance d'hypno-relaxation à un de vos
      proches, vous pouvez acheter une carte cadeau en cliquant sur le bouton
      ci-dessous. Les cartes cadeau ne fonctionnent qu'avec les séances
      d'hypno-relaxation car ces dernières ne nécessitent pas une anamnèse
      particulière, et peuvent donc être offertes à n'importe qui. De plus,
      elles peuvent être bénéfiques à tous, étant donné que ce sont des séances
      de relaxation et non de thérapie.
    </p>

    <div class='mt-20'>
      <script async src='https://js.stripe.com/v3/buy-button.js'></script>

      <stripe-buy-button
        buy-button-id='buy_btn_1NiYhEIqeAnEdkFRhuWIENlW'
        publishable-key='pk_live_51NiHbCIqeAnEdkFRhKOv9QMBQJaQpG0pRjHaEVcpb0EsknBtCh5NTjEIlIX4p6Vos3GqtIkRNtKqTr68SmZo9Aao0067fvCU8v'
      >
      </stripe-buy-button>
    </div>
  </div>
</Layout>
