---
import Layout from '@layouts/Layout.astro';
---

<Layout title='FanHypnose - Mentions légales'>
    <article class='p-20'>
        <h1 class='text-5xl font-light text-gray-800'>Mentions légales</h1>
        <div>
            <h4 class='font-medium text-2xl text-gray-800 mt-10 mb-3'>
                Éditeur du site
            </h4>
            <p>
                FANHYPNOSE
                <br />
                Numéro de SIRET : 893 162 800 00013
                <br />
                Responsable éditorial : Fany Denain
                <br />
                2 rue de la Serre, 60000 Frocourt
                <br />
                Téléphone : 06 12 48 83 24
                <br />
                Email : contact@fanhypnose.fr Site Web : https://fanhypnose.fr
            </p>
        </div>
        <div>
            <h4 class='font-medium text-2xl text-gray-800 mt-10 mb-3'>
                Hébergeur du site
            </h4>
            <p>
                Hébergeur : Vercel Inc.
                <br />
                440 N Barranca Ave #4133 Covina, CA 91723, États-Unis
                <br />
                Téléphone : +1 877-270-7753
                <br />
                Site Web : https://vercel.com
            </p>
        </div>
        <div>
            <h4 class='font-medium text-2xl text-gray-800 mt-10 mb-3'>
                Développement
            </h4>
            <p>
                <a href='https://portfolio-jimymltta.vercel.app/'
                    >Agence NeoDesign</a
                >
                <br />
                Téléphone : 06 95 78 10 77
            </p>
        </div>
        <div>
            <h4 class='font-medium text-2xl text-gray-800 mt-10 mb-3'>
                Conditions d'utilisation
            </h4>
            <p>
                Ce site est développé en utilisant des technologies modernes : <a
                    href='https://astro.build'>Astro</a
                >, <a href='https://tailwindcss.com'>TailwindCSS</a> et TypeScript.
                <br />
                Nous vous recommandons de recourir à des navigateurs modernes comme
                Safari, Firefox, Google Chrome, etc…
            </p>
        </div>
        <div>
            <h4 class='font-medium text-2xl text-gray-800 mt-10 mb-3'>
                Cookies
            </h4>
            <p>
                Le site htpps://fanhypnose.fr peut-être amené à vous demander
                l’acceptation des cookies pour des besoins de statistiques et
                d’affichage. Un cookie est une information déposée sur votre
                disque dur par le serveur du site que vous visitez.
                <br />
                Il contient plusieurs données qui sont stockées sur votre ordinateur
                dans un simple fichier texte auquel un serveur accède pour lire et
                enregistrer des informations . Certaines parties de ce site ne peuvent
                être fonctionnelles sans l’acceptation de cookies.
            </p>
        </div>
        <div>
            <h4 class='font-medium text-2xl text-gray-800 mt-10 mb-3'>
                Propriété intellectuelle
            </h4>
            <p>
                Toute reproduction, distribution, modification, adaptation,
                retransmission ou publication, même partielle, de ces différents
                éléments est strictement interdite sans l’accord exprès par
                écrit de FANHYPNOSE. Cette représentation ou reproduction, par
                quelque procédé que ce soit, constitue une contrefaçon
                sanctionnée par les articles L.335-2 et suivants du Code de la
                propriété intellectuelle. Le non-respect de cette interdiction
                constitue une contrefaçon pouvant engager la responsabilité
                civile et pénale du contrefacteur. En outre, les propriétaires
                des Contenus copiés pourraient intenter une action en justice à
                votre encontre.
            </p>
        </div>
        <div>
            <h4 class='font-medium text-2xl text-gray-800 mt-10 mb-3'>
                Litiges
            </h4>
            <p>
                Les présentes conditions du site https://fanhypnose.fr sont
                régies par les lois françaises et toute contestation ou litiges
                qui pourraient naître de l’interprétation ou de l’exécution de
                celles-ci seront de la compétence exclusive des tribunaux dont
                dépend le siège social de la société. La langue de référence,
                pour le règlement de contentieux éventuels, est le français.
            </p>
        </div>
        <div>
            <h4 class='font-medium text-2xl text-gray-800 mt-10 mb-3'>
                Données personnelles
            </h4>
            <p>
                De manière générale, vous n’êtes pas tenu de nous communiquer
                vos données personnelles lorsque vous visitez notre site
                Internet https://fanhypnose.fr.
                <br />
                Cependant, ce principe comporte certaines exceptions. En effet, pour
                certains services proposés par notre site, vous pouvez être amenés
                à nous communiquer certaines données telles que : votre nom, votre
                adresse électronique, et votre numéro de téléphone. Tel est le cas
                lorsque vous remplissez le formulaire qui vous est proposé en ligne,
                dans la rubrique « Prendre rendez-vous ».
                <br />
                Dans tous les cas, vous pouvez refuser de fournir vos données personnelles.
                Dans ce cas, vous ne pourrez pas utiliser les services du site, notamment
                le formulaire servant à demander un rendez-vous en ligne ou à demander
                plus de renseignements.
                <br />
                Enfin, nous pouvons collecter de manière automatique certaines informations
                vous concernant lors d’une simple navigation sur notre site internet,
                notamment : des informations concernant l’utilisation de notre site,
                comme les zones que vous visitez et les services auxquels vous accédez,
                votre adresse IP, le type de votre navigateur, vos temps d’accès.
                <br />
                De telles informations sont utilisées exclusivement à des fins de
                statistiques internes, de manière à améliorer la qualité des services
                qui vous sont proposés. Les bases de données sont protégées par les
                dispositions de la loi du 1er juillet 1998 transposant la directive
                96/9 du 11 mars 1996 relative à la protection juridique des bases
                de données.
                <br />
                Vos données sont conservées le temps de votre inscription dans le
                fichier client, qui est d’une durée maximale de 5 ans.
                <br />
                Vous pouvez demander la modification ou la suppression de vos données
                via le formulaire de contact présent sur la page Prendre rendez-vous.
            </p>
        </div>
    </article>
</Layout>
