---
import Layout from '@layouts/Layout.astro';
---

<Layout title='FanHypnose - Mentions légales'>
    <article>
        <h1>Mentions légales</h1>
        <h4>Éditeur du site</h4>
        <p>
            FANHYPNOSE
            <br />
            Numéro de SIRET : 893 162 800 00013
            <br />
            Responsable éditorial : Fany Denain
            <br />
            2 rue de la Serre, 60000 Frocourt
            <br />
            Téléphone : 06 12 48 83 24
            <br />
            Email : contact@fanhypnose.fr Site Web : https://fanhypnose.fr
        </p>
        <h4>Hébergeur du site</h4>
        <p>
            Hébergeur : Vercel Inc.
            <br />
            440 N Barranca Ave #4133 Covina, CA 91723, États-Unis
            <br />
            Téléphone : +1 877-270-7753
            <br />
            Site Web : https://vercel.com
        </p>
        <h4>Développement</h4>
        <p>
            <a href='https://portfolio-jimymltta.vercel.app/'
                >Agence NeoDesign</a
            >
            <br />
            Téléphone : 06 95 78 10 77
        </p>
        <h4>Conditions d'utilisation</h4>
        <p>
            Ce site est développé en utilisant des technologies modernes : <a
                href='https://astro.build'>Astro</a
            >, <a href='https://tailwindcss.com'>TailwindCSS</a> et TypeScript.
            <br />
            Nous vous recommandons de recourir à des navigateurs modernes comme Safari,
            Firefox, Google Chrome, etc…
        </p>
    </article>
</Layout>
