---
import Layout from '@layouts/Layout.astro';
import Container from '@components/prestations/Container1.astro';
import Payments from '@components/Payments1.astro';
---

<Layout title='FanHypnose - Prestations'>
    <div class='flex flex-col items-center content-center my-20'>
        <h1 class='text-5xl font-thin mb-10'>Prestations</h1>
        <p class='w-2/3 text-justify'>
            Vous trouverez sur cette page une brève description de toutes mes
            prestations et leurs tarifs. N’hésitez pas à me contacter pour plus
            de renseignements ou tout simplement pour en discuter. Vous pouvez
            trouver un formulaire de contact ou mes coordonnées sur la page
            <a href='/contact'>Contact</a>
        </p>
    </div>
    <Container />
    <Payments />
</Layout>
