<div class='py-24 sm:py-32'>
    <div class='mx-auto max-w-7xl px-6 lg:px-8'>
        <dl
            class='grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3'
        >
            <div class='mx-auto flex max-w-xs flex-col gap-y-4'>
                <dt class='text-base leading-7 text-gray-600'>
                    Le lundi et le mercredi
                </dt>
                <dd
                    class='order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl'
                >
                    15h à 19h30
                </dd>
            </div>
            <div class='mx-auto flex max-w-xs flex-col gap-y-4'>
                <dt class='text-base leading-7 text-gray-600'>
                    Le mardi et le jeudi
                </dt>
                <dd
                    class='order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl'
                >
                    18h30 à 20h30
                </dd>
            </div>
            <div class='mx-auto flex max-w-xs flex-col gap-y-4'>
                <dt class='text-base leading-7 text-gray-600'>Le samedi</dt>
                <dd
                    class='order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl'
                >
                    10h-12h et 14h-17h30
                </dd>
            </div>
        </dl>
    </div>
</div>
