---
import Link from '@components/ui/Link.astro';
import { Image } from '@astrojs/image/components';
import HelpImage from '@images/help.jpg';
---

<article class='flex flex-col lg:flex-row py-20'>
    <div class='w-full lg:w-1/2'>
        <Image
            src={HelpImage}
            alt="Les bénéfices de l'hypnothérapie"
            height={400}
            width={500}
            fit='contain'
            class='mx-auto'
        />
    </div>
    <div class='w-full lg:w-1/2'>
        <h3 class='text-4xl font-semibold my-6 mx-6 lg:w-3/4'>
            Les bienfaits de l'hypnothérapie
        </h3>
        <p class='text-justify lg:w-3/4 mx-6 mb-6 mt-10'>
            L’hypnothérapie peut être utile à tout le monde.<br /> Que vous ayez
            des troubles particuliers (traumatismes, phobies, addictions, pensées
            négatives…) ou que vous ayez simplement envie de vous détendre alors
            que vous vivez une période de stress, une séance d’hypnothérapie – parfois
            plusieurs – peut vous aider à vous libérer de ces poids ou de ce stress.
        </p>
    </div>
</article>
<div class='flex justify-center items-center my-6'>
    <Link href='#'>En apprendre plus</Link>
</div>
