---
import { Image } from '@astrojs/image/components';
import Fany from '@images/Fany.jpg';

const alt = "Fany, hypnothérapeute dans l'Oise";
---

<main>
    <div class='text-center py-20'>
        <h1
            class='text-4xl font-extralight tracking-tight text-gray-900 sm:text-6xl'
        >
            FanHypnose
        </h1>
        <h2 class='mt-6 text-lg leading-8 text-gray-600'>
            Votre hypnothérapeute dans l'Oise
        </h2>
    </div>

    <div class='flex flex-col items-center justify-center w-screen'>
        <Image
            src={Fany}
            alt={alt}
            width={250}
            height={250}
            class='rounded-full my-8'
        />
        <h3 class='text-4xl font-light'>Bienvenue, je suis Fany !</h3>
        <p class='w-full lg:w-1/3 my-6 px-6'>
            Je vous propose des séances d’Hypnose dans l’Oise, dans mon cabinet,
            <strong>à proximité de Beauvais</strong>
            <br class='hidden lg:block' /><br class='hidden lg:block' /> Formée dans
            une école d’<b>hypnose Ericksonnienne</b> à Paris, je souhaite mettre
            mon savoir et mes compétences à votre service, pour vous aider à améliorer
            votre qualité de vie.
        </p>
    </div>
</main>
