<div class='relative isolate bg-[#f9feff] pb-32 pt-24 sm:pt-32'>
    <div
        class='absolute inset-x-0 top-1/2 -z-10 -translate-y-1/2 transform-gpu overflow-hidden opacity-30 blur-3xl'
        aria-hidden='true'
    >
        <div
            class='ml-[max(50%,38rem)] aspect-[1313/771] w-[82.0625rem] bg-gradient-to-tr from-[#4080ff] to-[#0066cc]'
            style='clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)'
        >
        </div>
    </div>
    <div
        class='absolute inset-x-0 top-0 -z-10 flex transform-gpu overflow-hidden pt-32 opacity-25 blur-3xl sm:pt-40 xl:justify-end'
        aria-hidden='true'
    >
        <div
            class='ml-[-22rem] aspect-[1313/771] w-[82.0625rem] flex-none origin-top-right rotate-[30deg] bg-gradient-to-tr from-[#4080ff] to-[#0066cc] xl:ml-0 xl:mr-[calc(50%-12rem)]'
            style='clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)'
        >
        </div>
    </div>
    <div class='mx-auto max-w-7xl px-6 lg:px-8'>
        <div class='mx-auto max-w-xl text-center'>
            <h4
                class='text-lg font-semibold leading-8 tracking-tight text-sky-400'
            >
                Avis
            </h4>
            <p
                class='mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl'
            >
                Ce que mes consultants disent de moi
            </p>
        </div>
        <div
            class='mx-auto mt-16 grid max-w-2xl grid-cols-1 grid-rows-1 gap-8 text-sm leading-6 text-gray-900 sm:mt-20 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-flow-col xl:grid-cols-4'
        >
            <figure
                class='col-span-2 hidden sm:block sm:rounded-2xl sm:bg-white sm:shadow-lg sm:ring-1 sm:ring-gray-900/5 xl:col-start-2 xl:row-end-1'
            >
                <blockquote
                    class='p-12 text-xl font-semibold leading-8 tracking-tight text-gray-900'
                >
                    <p>
                        “Fany est très à l'écoute et bienveillante avec ses
                        patients. Une belle rencontre et des bienfaits immédiats
                        dès la première séance. Je recommande vivement!”
                    </p>
                </blockquote>
                <figcaption
                    class='flex items-center gap-x-4 border-t border-gray-900/10 px-6 py-4'
                >
                    <div class='flex-auto'>
                        <div class='font-semibold'>Valérie</div>
                    </div>
                </figcaption>
            </figure>
            <div class='space-y-8 xl:contents xl:space-y-0'>
                <div class='space-y-8 xl:row-span-2'>
                    <figure
                        class='rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5'
                    >
                        <blockquote class='text-gray-900'>
                            <p>
                                “Fany est très à l'écoute, bienveillante,
                                rassurante. Consultée pour ma phobie des avions
                                juste avant un voyage, mes angoisses et craintes
                                se sont envolées !! De plus, Fany a su deviner
                                en moi d'autres angoisses qu'elle a réussi à
                                estomper sans que j'ai à lui en parler! Je suis
                                ravie de mes 3 séances qui m'ont apporté
                                bien-être et sérénité! Merci Fany”
                            </p>
                        </blockquote>
                        <figcaption class='mt-6 flex items-center gap-x-4'>
                            <div>
                                <div class='font-semibold'>Sabrina</div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class='space-y-8 xl:row-start-1'>
                    <figure
                        class='rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5'
                    >
                        <blockquote class='text-gray-900'>
                            <p>
                                “Fany est très avenante, très soucieuse de ses
                                patients, a l écoute! Un contact exceptionnel
                                qui met vraiment a l aise et qui explique très
                                certainement aussi pourquoi les résultats sont
                                là ! Une séance début mars et fini le tabac!
                                Bien sûr sans motivation c est inutile mais
                                quand on est déterminé c est sans contexte un
                                coup de pouce incroyable ! Merciiiii 🙏”
                            </p>
                        </blockquote>
                        <figcaption class='mt-6 flex items-center gap-x-4'>
                            <div>
                                <div class='font-semibold'>Delphine</div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class='space-y-8 xl:contents xl:space-y-0'>
                <div class='space-y-8 xl:row-start-1'>
                    <figure
                        class='rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5'
                    >
                        <blockquote class='text-gray-900'>
                            <p>
                                “Fany et une super hypnotherapeute qui vous mets
                                à l'aise dès le début. Moi qui ne croyais pas
                                vraiment l'hypnose j'ai voulu essayer et je ne
                                suis pas du tout déçu. Je vous conseille Fany
                                car elle a réussi à faire des changements en moi
                                (cela n'était pas gagné) et pour vous ce sera de
                                même.”
                            </p>
                        </blockquote>
                        <figcaption class='mt-6 flex items-center gap-x-4'>
                            <div>
                                <div class='font-semibold'>Stéphane</div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class='space-y-8 xl:row-span-2'>
                    <figure
                        class='rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5'
                    >
                        <blockquote class='text-gray-900'>
                            <p>
                                “IMPRESSIONNANT, c'est le retour que m'a fait ma
                                fille de 16 ans après ce rdv. Elle exprime une
                                sensation de "détente agréable ", l'expérience
                                de cette séance d'hypnose l'a mise en confiance
                                ( c'était loin d'être gagné). Fany est une
                                professionnelle à l'écoute , très agréable et
                                rassurante.”
                            </p>
                        </blockquote>
                        <figcaption class='mt-6 flex items-center gap-x-4'>
                            <div>
                                <div class='font-semibold'>Christelle</div>
                            </div>
                        </figcaption>
                    </figure>

                    <!-- More testimonials... -->
                </div>
            </div>
        </div>
    </div>
</div>
